# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and `info rluserman' for more information.

# Be 8 bit clean.
set input-meta on
set output-meta on

# To allow the use of 8bit-characters like the german umlauts, uncomment
# the line below. However this makes the meta key not work as a meta key,
# which is annoying to those which don't need to type in 8-bit characters.

# set convert-meta off

# try to enable the application keypad when it is called.  Some systems
# need this to enable the arrow keys.
# set enable-keypad on

# see /usr/share/doc/bash/inputrc.arrows for other codes of arrow keys

# do not bell on tab-completion
# set bell-style none
# set bell-style visible

# some defaults / modifications for the emacs mode
$if mode=emacs

# allow the use of the Home/End keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# allow the use of the Delete/Insert keys
"\e[3~": delete-char
"\e[2~": quoted-insert

# mappings for "page up" and "page down" to step to the beginning/end
# of the history
# "\e[5~": beginning-of-history
# "\e[6~": end-of-history

# alternate mappings for "page up" and "page down" to search the history
# "\e[5~": history-search-backward
# "\e[6~": history-search-forward

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

$if term=rxvt
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\eOc": forward-word
"\eOd": backward-word
$endif

# for non RH/Debian xterm, can't hurt for RH/Debian xterm
# "\eOH": beginning-of-line
# "\eOF": end-of-line

# for freebsd console
# "\e[H": beginning-of-line
# "\e[F": end-of-line

$endif
# This alters the default behavior of the completion functions. If set
# to ‘on’, words which have more than one possible completion cause the
# matches to be listed immediately instead of ringing the bell. The default
# value is ‘off’.
set show-all-if-ambiguous on

# If set to ‘on’, this alters the default completion behavior when inserting
# a single match into the line. It's only active when performing completion
# in the middle of a word. If enabled, readline does not insert characters
# from the completion that match characters after point in the word being
# completed, so portions of the word following the cursor are not duplicated.
# For instance, if this is enabled, attempting completion when the cursor is
# after the ‘e’ in ‘Makefile’ will result in ‘Makefile’ rather than ‘Makefilefile’,
# assuming there is a single possible completion. The default value is ‘off’.
set skip-completed-text on

# The number of possible completions that determines when the user is asked
# whether the list of possibilities should be displayed. If the number of
# possible completions is greater than this value, Readline will ask the user
# whether or not he wishes to view them; otherwise, they are simply listed.
# This variable must be set to an integer value greater than or equal to 0.
# A negative value means Readline should never ask. The default limit is 100.
set completion-query-items 200

# Uncomment to use ? as an alternative to <TAB>
# ?: complete
